{% extends 'base.html' %}

{% block body %}
<div class="container">
    <form action="{% url 'result' %}" , method="get">
        <div class="input">
            <label for="f1">f1</label>
            <input name="f1" type="text" class="input" id="f1">
        </div>
        <div class="input">
            <label for="f2">f2</label>
            <input name="f2" type="text" class="input" id="f2">
        </div>
        <div class="input">
            <label for="x0">x0</label>
            <input name="x0" type="text" class="input" id="x0">
        </div>
        <div class="input">
            <label for="nu1">nu1</label>
            <input name="nu1" type="text" class="input" id="nu1">
        </div>
        <div class="input">
            <label for="nu2">nu2</label>
            <input name="nu2" type="text" class="input" id="nu2">
        </div>
        <div class="input">
            <label for="a0">a0</label>
            <input name="a0" type="text" class="input" id="a0">
        </div>
        <div class="input">
            <label for="b0">b0</label>
            <input name="b0" type="text" class="input" id="b0">
        </div>
        <div class="input">
            <label for="a1">a1</label>
            <input name="a1" type="text" class="input" id="a1">
        </div>
        <div class="input">
            <label for="b1">b1</label>
            <input name="b1" type="text" class="input" id="b1">
        </div>
        <div class="input">
            <label for="A">A</label>
            <input name="A" type="text" class="input" id="A">
        </div>
        <div class="input">
            <label for="B">B</label>
            <input name="B" type="text" class="input" id="B">
        </div>
        <div class="input">
            <label for="a">a</label>
            <input name="a" type="text" class="input" id="a">
        </div>
        <div class="input">
            <label for="b">b</label>
            <input name="b" type="text" class="input" id="b">
        </div>
        <div class="input">
            <label for="e">e</label>
            <input name="e" type="text" class="input" id="e">
        </div>
        <div class="input">
            <label for="q">q</label>
            <input name="q" type="text" class="input" id="q">
        </div>
        <div class="input">
            <label for="p">e</label>
            <input name="p" type="text" class="input" id="p">
        </div>
        <button type="submit" class="btn">Send</button>
    </form>
</div>
{% endblock %}